In [ ]:
!pip install alpha_vantage

The pip install command is meant to be run in your command line interface (CLI), not within a Python script or notebook cell.

To install the alpha_vantage package, you should open your terminal, command prompt, or whichever CLI tool you use, and then run the command

pip install alpha_vantage

In [1]:
api_key='YOUR_API_KEY' # Replace with your Alpha Vantage API key

In [5]:
import alpha_vantage.timeseries as ts1
import pandas as pd


# Initialize TimeSeries with your API key
ts = ts1.TimeSeries(api_key)

In [6]:
# Fetch intraday data for 'GOOGL'
data, _ = ts.get_intraday('GOOGL')

# Create DataFrame with timestamps as a column
df = pd.DataFrame.from_dict(data, orient='index').reset_index()

# Rename 'index' to 'DateTime' and split into 'Date' and 'Time'
df.rename(columns={'index': 'DateTime'}, inplace=True)
df[['Date', 'Time']] = df['DateTime'].str.split(' ', expand=True)

# Optionally drop the 'DateTime' column if it's no longer needed
df.drop(columns=['DateTime'], inplace=True)

# Display the final DataFrame
df.head()

    1. open   2. high    3. low  4. close 5. volume        Date      Time
0  137.2800  137.5000  137.2000  137.2500      5749  2023-11-28  19:45:00
1  137.2000  137.2800  137.2000  137.2700       387  2023-11-28  19:30:00
2  137.2120  137.3100  137.2000  137.2600       814  2023-11-28  19:15:00
3  137.3200  137.3300  137.2000  137.2100      3048  2023-11-28  19:00:00
4  137.2680  137.3400  137.1400  137.2700      1520  2023-11-28  18:45:00

In [7]:
from alpha_vantage.foreignexchange import ForeignExchange

cc = ForeignExchange(key=api_key)
# Get real-time exchange rate data (EUR to USD)
data, _ = cc.get_currency_exchange_rate(from_currency='EUR', to_currency='USD')
data

{'1. From_Currency Code': 'EUR',
 '2. From_Currency Name': 'Euro',
 '3. To_Currency Code': 'USD',
 '4. To_Currency Name': 'United States Dollar',
 '5. Exchange Rate': '1.09825000',
 '6. Last Refreshed': '2023-11-29 13:04:02',
 '7. Time Zone': 'UTC',
 '8. Bid Price': '1.09824300',
 '9. Ask Price': '1.09829400'}

In [10]:
from alpha_vantage.cryptocurrencies import CryptoCurrencies
import pandas as pd


# Initialize CryptoCurrencies with your API key
cc = CryptoCurrencies(key=api_key, output_format='pandas')

# Get daily cryptocurrency data (Bitcoin priced in USD)
data, meta_data = cc.get_digital_currency_daily(symbol='BTC', market='USD')
print(data)

            1a. open (USD)  1b. open (USD)  2a. high (USD)  2b. high (USD)  \
date
2023-11-29        37818.88        37818.88        38093.72        38093.72
2023-11-28        37242.70        37242.70        38377.00        38377.00
2023-11-27        37447.42        37447.42        37569.23        37569.23
2023-11-26        37780.67        37780.67        37814.63        37814.63
2023-11-25        37713.57        37713.57        37888.00        37888.00
...                    ...             ...             ...             ...
2021-03-09        52375.18        52375.18        54895.00        54895.00
2021-03-08        50959.11        50959.11        52402.78        52402.78
2021-03-07        48882.20        48882.20        51450.03        51450.03
2021-03-06        48746.81        48746.81        49200.00        49200.00
2021-03-05        48374.09        48374.09        49448.93        49448.93

            3a. low (USD)  3b. low (USD)  4a. close (USD)  4b. close (USD)  \
date
2023-11-29       37677.96       37677.96         37986.18         37986.18
2023-11-28       36868.41       36868.41         37818.87         37818.87
2023-11-27       36707.00       36707.00         37242.70         37242.70
2023-11-26       37150.00       37150.00         37447.43         37447.43
2023-11-25       37591.10       37591.10         37780.67         37780.67
...                   ...            ...              ...              ...
2021-03-09       51789.41       51789.41         54884.50         54884.50
2021-03-08       49274.67       49274.67         52375.17         52375.17
2021-03-07       48882.20       48882.20         50971.75         50971.75
2021-03-06       47070.00       47070.00         48882.20         48882.20
2021-03-05       46300.00       46300.00         48751.71         48751.71

               5. volume  6. market cap (USD)
date
2023-11-29   2314.344100          2314.344100
2023-11-28  37544.466670         37544.466670
2023-11-27  30001.073760         30001.073760
2023-11-26  21264.537230         21264.537230
2023-11-25  11396.144640         11396.144640
...                  ...                  ...
2021-03-09  71656.737076         71656.737076
2021-03-08  66987.359664         66987.359664
2021-03-07  55235.028032         55235.028032
2021-03-06  44399.234242         44399.234242
2021-03-05  78192.496372         78192.496372

[1000 rows x 10 columns]

In [12]:
from alpha_vantage.techindicators import TechIndicators

# Initialize TechIndicators with your API key
ti = TechIndicators(key=api_key)

# Get Simple Moving Average (SMA) data for Apple (AAPL)
data, _ = ti.get_sma(symbol='AAPL', interval='daily', time_period=60, series_type='close')

# Convert the data into a DataFrame
df = pd.DataFrame(data)

# Optionally, reset the index to make the date a column
df = df.reset_index().transpose()

# Print the DataFrame
df

                   0
index            SMA
2023-11-28  178.4431
2023-11-27  178.4234
2023-11-24  178.3874
2023-11-22  178.3447
...              ...
2000-02-01    0.7580
2000-01-31    0.7559
2000-01-28    0.7531
2000-01-27    0.7504
2000-01-26    0.7463

[6000 rows x 1 columns]

The above code display the Simple Moving Average (SMA) data for Apple (AAPL) in a nicely formatted DataFrame. 

Do you know what SMA stand for? 

A simple moving average is nothing but calculating averages in a sequential manner, you can look at this [demo](https://www.youtube.com/watch?v=Qu-EpmEkS9Q) to make sense to you